.gitignore
backups
crash-reports
datapacks
downloads
dynamic-data-pack-cache
dynamic-resource-pack-cache
ESM
local
logs
mods
moonlight-global-datapacks
patchouli_books
saves
resourcepacks
shaderpacks
.curseclient
command_history.txt
hs_err_pid15702.log
minecraftinstance.json
options.txt
patchouli_data.json
TrashSlotSaveState.json
usercache.json
usernamecache.json